.text-area {
    min-width: 400px;
    height: 600px;
    border-right: 1px solid black;
    overflow: scroll;
    background-color: white;
    margin-bottom: 5px;
}

.text-area {
    text-align: left;
    padding-top: 15px;
}

.name {
    padding-left: 40px;
}

.textInput {
    width: 100%;
    margin-top: 5px;
}

.buttonSend {
    display: none;
}